.socialDiv {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uicon{
  height: 65px;
  margin-top: 13px;
  margin-right: 10px;

}
#search {
  height: 80px;
}
#bbutton{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: 40px;
  border-color: #890f0f;
  color: #890f0f;
  margin: auto;
  height: auto;
  width: 70%;

}

.centered input {
  width: 200px;
}
a{
  text-decoration: none;
}
.socialBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
#d2s{
  display: flex;
  flex-direction: column;
  margin: auto;
}
#img10{
  height: 100px;
  width: 100px;
}
#clp{
  font-size: 30px;
  color: gray;
}
#rme{
  border:10px solid #00205B;
}

.container a {
  text-decoration: underline;
  color: #00205B  ;
}
#img11{
  width:70px;
  height:70px;
}
#i1{
  height: auto;
}
#lmao{
  text-align:center;
}
#fact{
  display: flex;
  justify-content: center;
}
#picon{
  display: flex;
  justify-content: center;
}
#lmaoxd{
  text-align: center;
  font-size: 70px;
}
#timerange{
  text-align: center;
  font-size: 70px
}
#sbutton{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: 60px;
  margin: auto;
  margin-bottom: 13px;
  height: auto;
  width: 70%;
}
#arrow{
  width:80px;
  height:110px;
  margin-top: 20px;
}
#arrow1{
  width:80px;
  height:110px;
  margin-top: 20px;
}
#usericon{
  width:137px;
  height:170px;
}
#sub{
  height: auto;
}
#ogroup{
  font-size: 20px;
}
#prof{
  display: flex;
  justify-content: center;
}
#recme{
  width:865px;
  height:140px;
  border:10px solid #00205B;
}
#intype{
display: flex;
justify-content: center;
}
.socialImg {
  width: 100%;
}
 * {
   margin: 0 auto;
   padding: 0;
  
 }

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  font-size: 120px;
  color: #00205B;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
}
.head1{
  font-size: 60px;
  color: #00205B;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
}
.pie1 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie1:before {
  --b:15px;
  --p:10;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie2 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie2:before {
  --b:15px;
  --p:20;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie3 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie3:before {
  --b:15px;
  --p:30;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie4 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie4:before {
  --b:15px;
  --p:40;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie5 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie5:before {
  --b:15px;
  --p:50;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie6 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie6:before {
  --b:15px;
  --p:60;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie7 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie7:before {
  --b:15px;
  --p:70;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie8 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie8:before {
  --b:15px;
  --p:80;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie9 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie9:before {
  --b:15px;
  --p:90;
  --c:#00205BFF;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie10 {
  --w:150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 40px;
  font-weight: bold;
}
.pie10:before {
  --b:15px;
  --p:100;
  --c: #890f0f;
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.container{
  display: flex;
  font-size: 30px;
  height: auto;
  align-content: space-around;
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
  border:5px solid #00205B;
  text-align: left;
  align-items: baseline;
}
h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div{
  border-radius: 20px 55px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.container, .container > * {
  padding: 0px;
}

.container {
  padding: 5px 20px;
}

h2{
  font-size: 90px;
  width:600px;
  height:130px;
  border:5px solid #00205B;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
}
body {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: #00205B;
  font-size: 10px;
  text-emphasis-color: #30bced;
  background-color: #FFFFFF;
  align-items: center;
}
centered{
  display: flex;
  justify-content: center;
}
footer {
  position: fixed;
  font-size: 27px;
  bottom: 0;
  left: 50px;
  right: 0;
  height: 100px;
}
#rectangle{
  width:200px;
  height:150px;
  background:transparent;
}

fieldset {
  padding-left: 15px;
  background-color: whitesmoke;
  font-size: 30px;
  border-radius: 25px 85px;
  z-index: 5;
  width: 80%;
  height: auto;
  border-width: 12px;
    margin: 0 auto;
  text-align: left;
}

.noShow {
  display: none;
}

.floater {
  position: fixed;
  bottom: 3%;
  left: 10px;
  width:150px;
  height:150px;
}
sbutt{
  height: 100px;
}
legend {
  background-color: transparent;
  color: #00205B;
  padding: 5px 10px;
}
#goog{
  font-size: 50px;
  text-align: center;
}
input {
  margin: 0px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  border-width: 8px;
  display: block;
  font-size: 30px;
  width: 80%;
  height: auto;
}
#logot{
  text-align: center;
}
select{
  margin: 0px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  width: auto;
  font-size: 40px;
  height: auto;
}

@media screen and (min-width:990px) {
  header{
    font-size: 60px;
  }

  body {

  }
}